# {{ ansible_managed }}

define host{
	use                     generic-host            ; Name of host template to use
	host_name               {{ item.name }}
	alias                   {{ item.alias }}
	address                 {{ item.address }}
}
