{{ ansible_managed | comment }}
{% for hostgroup in nagios_server_hostgroups %}

define hostgroup {
  hostgroup_name  {{ hostgroup.name }}
  alias           {{ hostgroup.alias }}
  members         {{ hostgroup.members | join(', ') }}
}

{% endfor %}
